<div class="container">
    <div class="cc_subPageHead">
        Terms and Conditions
    </div>
    <div class="cc_subPageContent">
        Commoncollection.com is owned and run by CommonCollection IVS.<br>
    </div>
    <div class="cc_subPageHead2">
        Legislative Choice
    </div>
    <div class="cc_subPageContent">
        Every agreement entered with and every action taken by the user (user understood to be any user in any situation of and in relation to the web-site CommonCollection.com) is subject to Danish law, with the exception of conflict-of-laws rules that might lead to the use of foreign law.
    </div>
    <div class="cc_subPageHead2">
        Disclaimer
    </div>
    <div class="cc_subPageContent">
        We disclaim the responsibility for any potential loss that the user of the site may endure, while using the internal payment system of the site, with the exception of Common Collection’s custodial role and responsibility in the process of remitting funds from the giver’s internal CC account to the receiver's internal CC account, as well as handling the receipt and remittance of funds until such time that it reaches an account under the full control of the user, i.e. the final receiver, the Local Networker or the local broker or wallet provider, assigned by the user. The user is fully responsible for any mistakes he or she may make in the process of dealing with Bitcoin or any other payment services. It is further the sole responsibility of the user to keep his or her Bitcoins or other funds safe, while they are in the custody of the user. We take no responsibility for the loss of bitcoins while in the users custody or the custody of any party appointed by the user.<br>
We take no responsibility for the value of the user’s Bitcoins, neither while in our custody or in that of the user. Bitcoins are a new and extremely volatile currency and appropriate caution needs to be taken by the user. We further take no responsibility for any failure of the Bitcoin network or that of our  API partner Blockchain.info.<br>
WE TAKE NO RESPONSIBILITY FOR ANY TAX CLAIMS OR SIMILAR CLAIMS, DIRECTED AT THE USER ON THE GROUNDS OF BUYING, SELLING, TRANSFERRING OR THE HOLDING OF BITCOIN. WE ADVISE OUR USERS TO TAKE CAUTION AND FOLLOW LOCAL LAWS AND REGULATIONS AS WELL AS TO SEEK PROFESSIONAL LEGAL COUNSEL IN CASE OF ANY DOUBT. WE FURTHER ADVISE OUR  USERS TO KEEP THEMSELVES UPDATED ON CHANGES TO THEIR LOCAL LEGAL FRAMEWORK AND ABIDE BY THESE RULES AT ALL TIMES.
    </div>
    <div class="cc_subPageHead2">
        Rights of Withdrawal
    </div>
    <div class="cc_subPageContent">
THERE IS NO RIGHT OF WITHDRAWAL FROM ANY DONATION MADE ON COMMENCOLLECTION.COM. The reason being that we consider the very act of donating a digital and financial service and we waive the rights of withdrawal under the danish law, Forbrugeraftaleloven and its § 18, stk. 2, nr. 13 and 14.<br>
The reason for the waiver being that as soon as the funds are donated to a case the funds are in most cases sent on directly to the receiver, without there being any interference from our side. But in the case of the user donating to a case by mistake, we urge he or she to contact us AS FAST AS POSSIBLE on support@commoncollection.com.<br>
The donor (giver) may be aware of the risk of fraud and scam projects being  listed on Commoncollection.com. We are doing our best together with our local partners to check and verify all receivers but take in no way any responsibility for the legitimacy of any receiver, user in general or case being listed on CommonCollection.com. THE USER FURTHER AGREES TO REPORT ANY SUSPICION OF FRAUD, MALPRACTICE, SCAMS OR OTHER ILLICIT ACTIVITY TO THE COMMONCOLLECTION.COM STAFF, AND IN CASE OF A PROJECT FAILING TO MEET EXPECTATIONS, GIVING THE MANAGER OR THE RECIPIENT A BAD REVIEW IN ORDER TO HELP OTHER USERS AVOID FURTHER INSTANCES.
    </div>
    <div class="cc_subPageHead2">
       Donating and Receiving Funds
    </div>
    <div class="cc_subPageContent">
       By donating or receiving funds whether Bitcoin or FIAT, the user, either receiving or donating funds takes full responsibility for upholding any laws and regulations that in any way may apply.<br> 
The user donating to a project, is fully responsible for his or her funds, including Bitcoin untill such time that it can be publicly verified that the funds have been sent to a bank account or bitcoin address under the direct control of Commoncollection.com. The donation is regarded as completed as soon as the Bitcoins are received at the bitcoin address of the case, or the funds are sent from the bank of Commoncollection.com towards the bank account listed by the case coordinator or end receiver. The receival of a donation is regarded as completed as soon as the bitcoins are received by the bitcoin address listed by the receiver or the manager (Local Networker) of the receiver, or that the funds have left the bank account of Commoncollection.com on the way to the bank account associated with the case in question.<br>
All transactions in the Bitcoin network is public and can be followed on http://www.blockchain.info. It will therefore always be possible to objectively verify that the delivery of Bitcoins to the address listed is completed. In case of a dispute the above mentioned site is the one that should be referred to.
    </div>
    <div class="cc_subPageHead2">
        Commission
    </div>
    <div class="cc_subPageContent">
        By donating to a case the user agrees to pay a platform fee of 7% of the total donated amount to CommonCollection IVS. A Local Networker, a person who is asking for donations on behalf of others, has the right to deduct a percentage of the funds donated (after the platform fee) to cover expenses and time spent. The commision is listed on each case separately.
    </div>
    <div class="cc_subPageHead2">
        Money Laundering
    </div>
    <div class="cc_subPageContent">
        No matter the fact that we DO NOT at the present moment consider ourselves covered by neither the law on payment services and electronic money or the law on prevention of the laundering of proceeds and financing of terrorism (AML/KYC), we still work actively to prevent any unlawful activity on Commoncollection.com. WE RESERVE THE RIGHTS TO DEMAND FURTHER IDENTIFICATION FROM ANY  USER AS WELL AS TO REPORT SUSPICIOUS ACTIVITIES TO THE RELEVANT AUTHORITIES, IF WE BY OUR OWN CONSIDERATION BELIEVE THERE TO BE A RISK OF THE USER BEING ENGAGED IN ILLICIT ACTIVITY, OR ARE USING COMMONCOLLECTION.COM TO CONDUCT ILLICIT ACTIVITY IN ACCORDANCE WITH THE ABOVE MENTIONED LAW.
    </div><br><br><br>
</div>