.defaultImg{
  background-image: url('/assets/no-image.jpg');
}

.emp-profile{
  margin-top: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #1f75c0;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
 .nav-tabs{
  margin-bottom:5%;
}
 .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
 .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.nav-link{
  cursor: pointer;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}

.card-header-img{
  background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          height: 150px;
}

.card-text{
    color: #000;
}

.case-heading{
  color: #000;
}

/* Staus ribbon start -------------------------- */
.side-corner-tag {
  position: relative;
  color: #fff;
  display: inline-block;
  padding: 5px;
  overflow: hidden;
} 

.side-corner-tag p {
  display: inline;	
}

.side-corner-tag p span {
  color: #fff;
  position: absolute;
  display: inline-block;
  right: -25px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2), inset 0px 5px 30px rgba(255,255,255,0.2);
  text-align: center;
  text-transform: uppercase;
  top: 22px;
  background: #d93131;
  width: 100px;
  padding: 3px 10px;
  font-size: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
} 

.side-corner-tag p:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -17px;
  right: 45px;
  z-index: -1;
  border: 17px solid;
  border-color: transparent transparent #662121 transparent;
}

.side-corner-tag p:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 74px;
  z-index: -1;
  right: -10px;
  border: 17px solid;
  border-color: #662121 transparent transparent transparent;
}

/* Staus ribbon end -------------------------- */
.card-text   {
  overflow: hidden;
  position: relative;
  text-align: justify;
  margin-right: 1em;
  padding-right: 1em;
  display: inline-block;
  line-height: 20px;    
  max-height: 40px;
  word-break: break-all;
  color:black;
}
.card-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.card-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  margin-top: 0.2em;
}

.card-title
{
white-space: nowrap; 
overflow: hidden;
text-overflow: ellipsis;

} 
.top-buffer{
margin-bottom:30px
}
.button{
  margin-top: 10px;
  margin-left:10px;
}
.btn-info{
  margin-left: 40px;
}
[disabled]{
  cursor: not-allowed;
  pointer-events: all !important;
}
.disable{
  cursor: not-allowed;
  pointer-events: all !important;
}


/* The container */
.radio-buttons{
margin-right: 20px;
display: inline-table;
}


/* Hide the browser's default radio button */
.radio-buttons input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  background-color: #cc0000;
    border: 1px solid #cc0000;
    padding: 4px 35px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

/* On mouse-over, add a grey background color */
.radio-buttons:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-buttons input:checked ~ .checkmark {
  background-color: #ccc;
    color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-buttons input:checked ~ .checkmark:after {
  display: block;
}


.radio-buttons .other-input{
  opacity: 1;
    display: block;
    position: relative;
    margin-top: 18px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: 1px solid #000;
    text-align: right;
    outline:none;
}

.radio-buttons .other-input:focus{
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: 1px solid #000;
    text-align: right;
    outline:none;
}

.radio-buttons .disabled-radio{
  background-color: #f0f0f0;
    color: #6c757d;
    cursor: not-allowed;
}

.pay-with{
  margin-left: -15px;
    margin-right: -15px;
}

.your-details input{
  opacity: 1;
    display: block;
    position: relative;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: 1px solid #000;
    outline: none;
    border-radius: unset;
    padding-left: 0px;
    margin-bottom: 20px;
}
.mr-15{
  margin-right: -15px;
}

.paywith.select{
  border: 1px solid #cc0000;
  font-size: 13px;
  color: #cc0000;
}

.paywith option{
  font-size: 15px;
}
.custom-text{
  border: 2px solid #DDD;
  width: 100%;
  padding: 5px;
  }
  .input-group-addon
{
    background-color:#FFF;
}
.input-group .input-group-addon + .form-control
{
    border-left:none;
}

.banner-text{
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.donate-page .btn-continue{
  width: 200px;
    font-size: 13px;
    font-weight: 700;
    padding: 2px;
}

.donate-page .btn-dropdown{
  padding: 0;
    height: 25px;
}

.donate-page .banner-img{
  height: 300px;
    background-image: url(../../../../assets/donate-page.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.required:after {
  content:" *";
  color: red;
  font-weight: bold;
}

.other-currency{
  font-size: 24px;
    margin-bottom: 8px !important;
}

.other-input:focus {
border: transparent !important;
}

@media (max-width: 576px){
.form-check-inline{
  margin-bottom: 20px;
}
}

.case-title {
  font-size: 25px;
  margin: 0px 0 20px 0;
  margin-left: -15px;
}