<div class="cc_footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4 footer-logo">
        <h4>CommonCollection</h4>
        <span>{{'GIVING CAN CHANGE THE WORLD'|translate}}</span>
      </div>
      <div class="col-6 col-sm-4 footer-link">
        <ul>
          <li>
            <a id="LinkButtonAboutCC" [routerLink]="['/about-cc']">{{'ABOUT
              COMMONCOLLECTION'|translate}}</a></li>
          <li>
            <a id="LinkButtonAboutUs" [routerLink]="['/about-us']">{{'ABOUT
              US'|translate}}</a></li>
          <li>
            <a id="LinkButtonContactUs" [routerLink]="['/contact-us']">{{'CONTACT
              US'|translate}}</a></li>
          <li>
            <a id="LinkButton1" [routerLink]="['/donate-cc']">{{'DONATE
              TO COMMONCOLLECTION'|translate}}</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-4 footer-link">
        <ul>
          <li>
            <a target="_blank" href="http://thecommunity.cc/">{{'THE COMMUNITY'|translate}}</a>
          </li>
          <li>
            <a id="LinkButtonFAQ" [routerLink]="['/faq']">{{'FAQ'|translate}}</a>
          </li>
          <li>
            <a id="LinkButtonCC_Terms" [routerLink]="['/terms']">{{'TERMS
              AND CONDITIONS'|translate}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footerBottom">
    <div class="container">
      <div class="footerCopy">© 2015 CommonCollection. All Rights Reserved.</div>
      <div class="footerSocial">
        <a class="fa fa-facebook" href="https://facebook.com/commoncollection" target="_blank">
        
        </a>
        <a class="fa fa-instagram" href="https://instagram.com/commoncollection" target="_blank">
        
        </a>
        <a class="fa fa-vimeo" href="https://vimeo.com/130638972" target="_blank">
        
        </a>
    </div>
    </div>
  </div>
</div>