<div id="logreg-forms">
<form class="border border-light p-5">
  <span id='close' aria-hidden="true" style="float: right;font-size: 20px" [routerLink]="['/home']" >&times;</span>
    <p class="h4 mb-4 text-center">{{'Change Password'|translate}}</p>
  <div class="form-group">
    <label for="oldPassword" class="required"><b>{{'Old Password' | translate}}:</b></label>
    <input id="oldPassword" class="form-control" type="password" placeholder="{{ 'EnterOldPassword' | translate}}" name="oldPassword"
      [(ngModel)]="password.oldPassword" #oldPassword="ngModel" required minlength="6">
    <span class="help-block"
      *ngIf="oldPassword.errors?.required && oldPassword.touched">{{'Old Password is required'|translate}}</span>
  </div>
  <div class="form-group">
    <label for="newPassword" class="required"><b>{{'New Password' | translate}}</b></label>
    <input id="newPassword" class="form-control" type="password" placeholder="{{'Enter Password' | translate}}" name="newPassword"
      [(ngModel)]="password.newPassword" #newPassword="ngModel" required minlength="6">
    <span class="help-block"
      *ngIf="newPassword.errors?.required && newPassword.touched">{{'Password is required'|translate}}</span>
    <span class="help-block"
      *ngIf="newPassword.errors?.minlength">{{'Password must be at least 6 characters'|translate}}</span>
  </div>

  <div class="form-group">
    <label for="confirmPassword" class="required"><b>{{'Confirm Password' | translate}}</b></label>
    <input type="password" class="form-control" placeholder="{{'Confirm Password' | translate}}" name="confirmPassword"
      [(ngModel)]='password.newPassword2' #confirmPassword="ngModel" required>
    <span class="help-block"
      *ngIf="confirmPassword.errors?.required && confirmPassword.touched">{{'Confirm Password is required'|translate}}</span>
  </div>
  <button type="submit" class="btn-theme btn-gen btn-block btn" (click)="changePassword()">{{'Change Password'|translate}}</button>
</form>
</div>

