<div class="container">
    <div class="row pb-5">
        <div class="col-sm-9 pt-5">

            <h4 class="transaction-title"><span *ngIf="case">{{'Donations to' | translate}}: <a class="font-color"
                        [routerLink]="['/case-view',case.caseId]"> {{case.content[0].title}}</a></span></h4>

            <div class="row pt-4">
                <div class="container">
                    <table  *ngIf="allpaidDonations" class="table transaction-table donation-table" >
                        <thead>
                            <tr>
                                <th>{{'Giver' | translate}}</th>
                                <th>{{'Amount' | translate}}</th>
                                <th>{{'Date' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let donation of paidDonationList" style="background-color: white;">
                                <td
                                    *ngIf="donation && (donation.orderStatus === 'Paid' || donation.orderStatus === 'Completed')">
                                    <a class="font-color"
                                        [routerLink]="['/benefactor',donation.userId]">{{donation.name}}</a>
                                </td>
                                <td
                                    *ngIf="donation && (donation.orderStatus === 'Paid' || donation.orderStatus === 'Completed')">
                                    <p
                                        *ngIf="donation.currency === 'BTC' && (donation.orderStatus === 'Paid' || donation.orderStatus === 'Completed')">
                                        <a class="font-color"
                                            href="https://blockexplorer.one/btc/testnet/tx/{{donation.blockchainHash}}"
                                            target="blank">
                                            {{donation.amount}}
                                            {{donation.currency}}
                                        </a>
                                    </p>
                                    <p
                                        *ngIf="donation.currency === 'LTC' && (donation.orderStatus === 'Paid' || donation.orderStatus === 'Completed')">
                                        <a class="font-color"
                                            href="https://blockexplorer.one/ltc/testnet/tx/{{donation.blockchainHash}}"
                                            target="blank">
                                            {{donation.amount}}
                                            {{donation.currency}}
                                        </a>
                                    </p>
                                    <p
                                        *ngIf="(donation.currency !== 'LTC' && donation.currency !== 'BTC') && (donation.orderStatus === 'Paid' || donation.orderStatus === 'Completed')">
                                        {{donation.amount}}
                                        {{donation.currency}}
                                    </p>
                                </td>
                                <td
                                    *ngIf="donation  && (donation.orderStatus === 'Paid' || donation.orderStatus === 'Completed')">
                                    {{donation.donatedDate | transactionDate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


        <div class="col-sm-3 border pt-3 profile-bg mt-3" *ngIf="person.basic">

            <app-profile-panel [userProfile]=person [DonationAmount]=totalDonationReceived [isbeneficiary]=true
                [currency]=currency [address]=person.address [location]=person.location></app-profile-panel>
        </div>
    </div>
</div>