<div class="container">
  <div class="cc_subPageHead">
    <span id="ContentPlaceHolder1_LabelHead">Donate to CommonCollection</span>
  </div>
  <div class="cc_subPageContent">
    CommonCollection is something special: By bridging serious human needs and human potentials directly and adding the
    use of digital currency to empower the poorest and unbanked, CommonCollection is a serious opportunity for a better
    life for everyone.
  </div>
  <div class="cc_subPageContent">
    We can not do this without financial help. Click here for donating directly to CommonCollection.
  </div>
  <div class="cc_subPageContent">
    <input type="submit" name="ctl00$ContentPlaceHolder1$ButtonGive" value="GIVE DONATION"
      id="ContentPlaceHolder1_ButtonGive" class="btn_AskHelp_donate"><br>
  </div>
  <div class="cc_subPageContent">
    At CommonCollection we are very grateful for every donation we receive.
  </div>
  <div class="cc_subPageContent">
    Thank You!!
    <br>
    <br>
    Annette Grothe-Møller<br>
    Founder at CommonCollection
  </div>
</div>