<div class="container">
  <div class="cc_subPageHead">
    <span id="ContentPlaceHolder1_LabelHead">About Us</span>
  </div>
  <div class="cc_subPageContent">
    <span id="ContentPlaceHolder1_LabelText">We are a group of people with the desire to give our best to the world by
      bridging human needs with helping potentials. Common for us is our concern for the world and its people, which we
      know that we share with billions of others. We are happy to work together to make CommonCollection grow and we
      honestly believe that giving is a tool to our wellbeing and a serious opportunity for a better world.</span>
  </div>
  <div class="cc_founderContainer">
    <div class="cc_subPageHead16">FOUNDERS</div>
    <div class="cc_founders">
      <div class="founderColumn">
        <div>
          <img src="./assets/ph_Annette.jpg" alt="Annette Grothe-Møller">
          <div class="founderInfo">Annette Grothe-Møller<span>Co-Founder and CEO</span><span>MSc Psychology</span></div>
        </div>
        <p>
          Annette Grothe-Møller is the founder at CommonCollection. She drives the company's vision, strategy and
          development together with her husband Thorkild Grothe-Møller (CTO and co-founder). A strong belief in human
          goodwill and unutilized human potentials brought her seven years ago to see an opportunity for using the
          Internet for global peer-to-peer giving and started to create what she calls a <em>frame of hope</em>.<br>
          <br>
          Annette is responsible for the over all human resources and creative development at CommonCollection working
          to match and develop human talents and potentials to bring forward company strategies and goals. She travels
          to build user support for bridging needs and potentials globally.<br>
          <br>
          Annette has more than 20 years experience with psychotherapy and counseling for adult individuals and couples.
          Together with her husband she has been working with management and human resource in private and public
          companies. In 2014 she published her first book. Annette and Thorkild live in Copenhagen. Together they have
          four children.<br>
          <br>
          <em>”With so much unbearable human suffering, so much unutilized goodwill and human potential, we simply have
            to use the Internet for connection and giving.”</em> Annette
        </p>
      </div>
      <div class="founderColumn noMarin">
        <div>
          <img src="./assets/ph_Elisabeth.png" alt="Elisabeth Grothe-Møller">
          <div class="founderInfo">Elisabeth Grothe-Møller<span>Co-Founder and Spokesperson</span><span>BSc. Art History
              &amp; Psychology<br>Student of MSc in Visual Culture</span></div>
        </div>
        <p>
          Elisabeth is the spokesperson and second in command at CommonCollection. Her role is to make sure that the
          basic vision behind CommonCollection is implemented into development of the business as a whole. Tools,
          solutions and visions are visually being translated by Elisabeth in order to be effectively communicated to
          the global userbase and the cross-cultural community of CommonCollection.
          <br><br>
          Elisabeth loves being able to communicate CommonCollections visions and thereby to inspire others through the
          hope and attitude to life that is CommonCollection. She is therefore the natural spokesperson for
          CommonCollection and she gives interviews and speeches of what is the great potentials and possibilities of
          this unique network.
          <br><br>
          She is currently studying for her Masters Degree in Visual Culture in Copenhagen, works as a Creative Director
          on multiple projects in the publishing- and film industry and is the Co-Founder and Creative Director of the
          gaming company NorthLit.
          <br><br>
          <em>“Using the Internet to make giving possible on a peer-to-peer basis globally will have a very positive
            impact on the world.”</em> Elisabeth.
        </p>
      </div>
    </div>
  </div>
  <br>
  <div class="cc_founderContainer">
    <div class="cc_subPageHead16">.</div>
    <div class="cc_founders">
      <div class="founderColumn">
        <div>
          <img src="./assets/ph_Thorkild.jpg" alt="Annette Grothe-Møller">
          <div class="founderInfo">Thorkild Grothe-Møller<span>Co-Founder and CTO</span><span>BSc Eng. (hon.)</span>
          </div>
        </div>
        <p>
          Thorkild is the co-founder and managing director at CommonCollection. Together with his wife Annette
          Grothe-Møller (founder at CommonCollection) he sets the direction for CommonCollection.<br>
          <br>
          With a background in software development and mechanical engineering he oversees the technical development at
          CommonCollection. Thorkild’s aim is using the Internet for the greater good by connecting people globally for
          life improving purposes.<br>
          <br>
          He has been a managing director of an IT consultancy company developing and implementing software solutions
          for national and international companies within product engineering. Thorkild worked for 10 years at the
          Technical University of Denmark focusing on using IT to improve efficiency during product development.<br>
          <br>
          Thorkild lives with Annette in Copenhagen. Together they have four children.<br>
          <br>
          <em>“I believe that the time has come for us to utilize the Internets possibilities to globally connect us and
            help those in need. I think it is of crucial importance to visually communicate a world of hope and
            potential!”</em> Thorkild.
          <br>
          <br>
          <br>
          <br>
          <br>
        </p>
      </div>
      <div class="founderColumn noMarin">
        <p></p>
      </div>
    </div>
  </div>
</div>