<div id="logreg-forms">
  <form>
    <div class="container">
      
      <div class="form-group">
        <span id='close' aria-hidden="true" style="float: right;font-size: 20px" [routerLink]="['/login']" >&times;</span>       
        <label  for="email" class="control-label required"><b>{{'Email ID' | translate}}</b></label>
        <input id="email" type="text" placeholder="{{'Enter Your Email ID' | translate}}" class="form-control"
          pattern="^[a-zA-Z0-9+/_~.]+@[a-zA-Z0-9]+\.[a-zA-Z0-9-]+$" name="email" [(ngModel)]='model.email' #email="ngModel"
          required>
        <span class="help-block" *ngIf="email.errors?.required && email.touched">{{'Email is required'|translate}}</span>
        <span class="help-block" *ngIf="email.errors?.pattern && email.touched">{{'Email is invalid'|translate}}</span>
      </div>
      <button type="submit" class="btn-theme btn-gen btn-block btn" (click)="sendMail()">Send Mail</button>

    </div>
  </form>
</div>