<div class="cc_mainSection">
  <div class="container">
    <div class="cc_subPageHead">
        <span id="ContentPlaceHolder1_LabelHead">Contact Us</span>
    </div>


    <div class="cc_subPageHead2">
        <span id="ContentPlaceHolder1_Label5">For Support and General Information About CommonCollection</span>
    </div>
    <div class="cc_subPageContent">
        If you need support or like to know more about CommonCollection you are very welcome to contact one of us at CommonCollection Support. We will gladly do our best to assist you. Write to:<br>
        <a class="font-color" href="mailto:support@commoncollection.com">support@commoncollection.com</a>
    </div>

    <div class="cc_subPageHead2">
        <span id="ContentPlaceHolder1_Label6">For Volunteers</span>
    </div>
    <div class="cc_subPageContent">
        If you like to work together with the CommonCollection Team to make CommonCollection a continually well functioning and dynamically growing frame of hope, we are very happy to hear from you at:<br>
        <a class="font-color" href="mailto:volunteer@commoncollection.com">volunteer@commoncollection.com</a>
    </div>

    

    <div class="cc_subPageHead2">
        <span id="ContentPlaceHolder1_Label10">For Press</span>
    </div>
    <div class="cc_subPageContent">
        Concerning media relations you are welcome to contact us at:<br>
        <a class="font-color" href="mailto:press@commoncollection.com">press@commoncollection.com</a>
    </div>

    <div class="cc_subPageHead2">
        <span id="ContentPlaceHolder1_Label12">Extensive Information</span>
    </div>
    <div class="cc_subPageContent">
        For extensive information about CommonCollection, public speaking etc.:<br>
        <a class="font-color" href="mailto:elisabeth@commoncollection.com">elisabeth@commoncollection.com</a><br>
        <br>
        If you are leaving a message, please make sure you provide all necessary details.
        <br>
        <br>
        <br>
    </div>
</div>
  </div>