<div class="container">
  <div class="cc_subPageHead">
      <span id="ContentPlaceHolder1_LabelHead">Frequently asked questions (FAQ)</span>
  </div>


  <div class="cc_subPageHead2">
      <span id="ContentPlaceHolder1_Label5">What is CommonCollection?</span>
  </div>
  <div class="cc_subPageContent">
      CommonCollection is a website for global peer-to-peer giving. People in need can ask for help and people with the desire to help can browse and read individual stories written and uploaded by people in need asking for help. Givers can connect personally to the people they choose to help. At CommonCollection people can connect directly and instantly. Givers can give donations in either Bitcoins or local currencies. Bitcoins can be transferred instantly with very low transaction fees and can be used by all people globally with access to the Internet.
  </div>
   <div class="cc_subPageHead2">
      <span id="ContentPlaceHolder1_Label9">Why is CommonCollection 100% to the receiver?</span>
  </div>
  <div class="cc_subPageContent">
      We aim high! At CommonCollection we like to optimize helping! We like for CommonCollection to be the possible most helpful tool for improving everyones life globally!
  </div> 
  <div class="cc_subPageHead2">
      <span id="ContentPlaceHolder1_Label6">How do I give?</span>
  </div>
  <div class="cc_subPageContent">
      Giving is easy. If you have Bitcoins: Just scan a code with your mobile device, decide the amount you want to give and click send. Within a few minutes, the recipient is notified and can use the donation for its intended purpose. If you want to make a donation by bank transfer, just select the amount you want to give and we will send you all the instructions you need in an email.
  </div>        
  <div class="cc_subPageHead2">
      <span id="ContentPlaceHolder1_Label12">Are donations tax deductible?</span>
  </div>
  <div class="cc_subPageContent">
      Yes and no. If an NGO is registered as a non-profit charity organization in the same country as the giver (individuals or companies) donations conveyed by CommonCollection are tax-deductible. If the receiver is not registered in the givers country, the donations are not tax-deductable.
  </div>
  <div class="cc_subPageHead2">
      <span id="ContentPlaceHolder1_Label1">How can I buy Bitcoins?</span>
  </div>
  <div class="cc_subPageContent">
      Bitcoins can be bought from individuals or from local exchange companies. The below exchange companies offer user-friendly websites explaining more about Bitcoin and provide services to buy Bitcoins:<br>
      &nbsp;•	123bitcoin.dk, <a href="http://123bitcoin.dk/">123bitcoin.dk</a><br>
      &nbsp;•	WeMoveCoins, <a href="http://wemovecoins.com/">WeMoveCoins.com</a><br>
      &nbsp;•	Unocoin, <a href="http://www.unocoin.com/">unocoin.com</a>
  </div>

  <div class="cc_subPageHead2">
      <span id="ContentPlaceHolder1_Label2">Why using Bitcoins?</span>
  </div>
  <div class="cc_subPageContent">
      Bitcoins can be transferred instantly with very low transaction fees and can be used by all people globally with access to the Internet. It is an alternative to existing payment solutions, which are often expensive, slow and not for everyone. Bitcoin has the following advantages:<br>
&nbsp;•	Bitcoins are for everyone because there are no prerequisites limits such as having a bank account, being a certain age or living in certain parts of the world<br>
&nbsp;•	Bitcoins can be transferred instantly from person to person via the Internet without going through a bank or clearing house<br>
&nbsp;•	Bitcoins can be transferred with very low transaction fees<br>
&nbsp;•	Bitcoins are secured and can be used in most countries<br>
&nbsp;•	Bitcoin accounts can not be frozen or monitored by any authority 
      <br>
      If givers do not have Bitcoins, it is possible to pay by traditional bank transfer. In this case, CommonCollection staff will manually exchange donations to Bitcoins and send the donation to the receiver’s Bitcoin wallet. 
  </div>
  <div class="cc_subPageHead2">
      <span id="ContentPlaceHolder1_Label3">What is a "Local Networker"?</span>
  </div>
  <div class="cc_subPageContent">
      Everyone can ask for help on CommonCollection. However many people globally are still without access to the Internet of various reasons. At CommonCollection we want all people globally to have the possibility to receive help and CommonCollection to be a <em>frame of hope</em> for everyone. Therefore it is possible to become a Local Networker seeking help on behalf of one or more persons, who are not able to ask for help themselves. 
The Local Networker is the person connecting receivers and givers. He or she can connect, communicate and give feedback to givers on behalf of the receivers. The Local Networker is responsible for “giving” the donations to the receivers.
  </div>
  <div class="cc_subPageHead2">
      <span id="ContentPlaceHolder1_Label4">How do I become a 'Local Networker'?</span>
  </div>
  <div class="cc_subPageContent">
      Start making a user profile on CommonCollection. With a user profile you are ready to create one or more cases with text and images. Before you can publish your case(s), we will need you to verify your identity and your Bitcoin wallet. 
If you live in India please contact <a href="http://www.unocoin.com/">unocoin.com</a>, who will (free of charge) be doing the verification of your identity and help setup your Bitcoin wallet. If you are from another part of the world, please send us an email (support@commoncollection.com) and we will guide you.  
  </div>
  <div class="cc_subPageHead2">
      <span id="ContentPlaceHolder1_Label7">Can I take a commission as a Local Networker?</span>
  </div>
  <div class="cc_subPageContent">
      Yes, as a Local Networker you can ask a commission. A Local Networker might have expenses helping; typically time is spent visiting the people needing help taking photos, writing their stories, posting updates to givers, withdrawing money from ones own account and distributing donations to receivers. To compensate for the time spent and expenses related to helping the receivers, the Local Networker can decide to ask a personal commission on all donations, which will be published on the actual case.
A person choosing to become a Local Networker can based on the verification process, transparency of achievements, merits and by being subject to reviews from other users at CommonCollection become a successful helper of many people in need and thereby also earn a personal income.
All transactions, commissions and fees are fully transparent and traceable. 
  </div>
  <div class="cc_subPageHead2">
      <span id="ContentPlaceHolder1_Label8">Is CommonCollection independent?</span>
  </div>
  <div class="cc_subPageContent">
      Yes, CommonCollection being a global meeting place for human needs and potentials is independent of any religious and political interests. Neither is CommonCollection IVS financially dependent on any binding engagements; until now the founders have privately funded it.
  </div>        
  <div class="cc_subPageHead2">
      <span id="ContentPlaceHolder1_Label10">Can fraud be prevented 100% on CommonCollection?</span>
  </div>
  <div class="cc_subPageContent">
      No, unfortunately that is impossible. CommonCollection is a 100% user regulated platform and cannot prevent fraud to happen at least on rare occasions. 
The CommonCollection team has built in different functionalities to prevent fraud:<br>
&nbsp;•	Receivers are required to complete an extensive enrollment procedure, which provide the givers ability to make judgments and assessments of the receivers. The enrollment procedure include manual verification of portrait picture, address, telephone number, bank account number, copy of passport/social security card. Receivers can obtain further credibility by publishing a personal social profile (Facebook, Twitter.....) on CommonCollection.<br>
&nbsp;•	It is possible to rate receivers (one to five stars) and make comments based on actual observations of receiver’s acts and sayings.<br>
&nbsp;•	CommonCollection is a completely transparent site in relation to flow of money, which means that received amounts per user and donations per user are traceable. It is therefore possible to see who has received how much.
  </div>
  

  <br>
  <br>
  <br>
</div>