
  <div class="container">
    <div class="cc_subPageHead">
      <span id="ContentPlaceHolder1_LabelHead">About CommonCollection</span>
    </div>
    <div class="cc_subPageContent">
      <span id="ContentPlaceHolder1_LabelText">CommonCollection is a global meeting place for human needs and
        potentials. CommonCollection or also called CC is a site where people can connect person to person and utilize
        individual talents, knowledge, creativity, visions and give or ask for needed help. There are untapped resources
        of human potentials and goodwill. CommonCollection is a<i> frame of hope</i>, where needs and unutilized
        potentials meet.</span>
    </div>

  </div>
