<div id="logreg-forms">
  <form class="border border-light p-5">
    <span id='close' aria-hidden="true" style="float: right;font-size: 20px" [routerLink]="['/home']" >&times;</span>
    <p class="h4 mb-4 text-center">{{'Reset Password'|translate}}</p>

    <div class="form-group">
      <label for="newPassword" class="required"><b>{{'New Password' | translate}}</b></label>
      <input id="newPassword" class="form-control" type="password" placeholder="{{'Enter Password' | translate}}" name="newPassword"
        [(ngModel)]="model.password" #newPassword="ngModel" required minlength="6">
      <span class="help-block"
        *ngIf="newPassword.errors?.required && newPassword.touched">{{'Password is required'|translate}}</span>
      <span class="help-block"
        *ngIf="newPassword.errors?.minlength">{{'Password must be at least 6 characters'|translate}}</span>
    </div>

    <div class="form-group">
      <label for="repeatPassword" class="required"><b>{{'Repeat Password' | translate}}</b></label>
      <input class="form-control" type="password" placeholder="{{'Repeat Password' | translate}}" name="repeatPassword"
        [(ngModel)]='model.confirmPassword' #repeatPassword="ngModel" required>
      <span class="help-block"
        *ngIf="repeatPassword.errors?.required && repeatPassword.touched">{{'Confirm Password is required'|translate}}</span>
    </div>

    <button class="btn-theme btn-gen btn-block btn" (click)="forgotPassword()"
      [disabled]="password !== passwordRepeat">{{'Reset Password' | translate}}</button>

</form>